%h1.text-center.m-5 Shopping List

= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: 'false' }, class: 'sign-in-form' }) do |form|
  = render partial: 'shared/flash'

  .form-group
    = form.label :email, class: 'form-label'
    = form.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', required: true
  .form-group
    = form.label :password, class: 'form-label'
    = form.password_field :password, autocomplete: 'current-password', class: 'form-control', required: true

  = form.submit 'Log in', class: 'btn btn-primary'
