%li.list-group-item.shopping-cart-item{ class: item.total.positive? ? 'in-cart' : nil, data: { group_id: item.group_id } }
  .d-flex
    .flex-grow-1.align-self-center
      = '(T)' if item.is_a?(Item::Temporary)
      = item.name
    .align-self-center.total= item.total
    .btn-group.align-self-center.actions{ role: 'group' }
      = link_to '+', shopping_cart_item_path(item), method: :patch, remote: true, data: { params: "total=#{item.total + 1}" }, class: 'btn btn-primary action'
      = link_to '-', shopping_cart_item_path(item), method: :patch, remote: true, data: { params: "total=#{item.total - 1}" }, class: 'btn btn-warning action'
