%h1 Shopping cart

.alert.alert-secondary
  Update the shopping cart with the quantities you need. You can also add temporary items just for this time.
  When finished, go to #{link_to('order confirmation', order_path)} to make your order.

= link_to 'Clear shopping cart', shopping_cart_path, method: :delete, class: 'btn btn-danger', data: { confirm: 'Reset all quantities and remove temporary items?' }

- @grouped_items.each do |group|
  %h3.mt-3= group.name
  %ul.list-group.shopping-cart{ id: "shopping-cart-group-#{group.id}" }
    - group.items.each do |item|
      = render 'item', item: item

  %button.btn.btn-primary.mt-2{ type: 'button', data: { toggle: 'modal', target: '#add-temporary-item', new_item_path: new_items_temporary_path(group_id: group.id) } }
    Add temporary item

.modal#add-temporary-item{ tabindex: '-1', role: 'dialog' }
  .modal-dialog.modal-dialog-centered{ role: 'document' }
    .modal-content
      .modal-header
        %h5.modal-title Add temporary item
        %button.close{ type: 'button', 'data-dismiss': 'modal' }
          %span &times;
      .modal-body
        .text-center#add-temporary-item-loading
          .spinner-border{ role: 'status' }
        #add-temporary-item-content
