%h1 Groups

.alert.alert-secondary
  Use groups to organise your #{link_to('items', items_regulars_path)} (e.g. bathroom, kitchen, etc.).

%ul.list-group.groups
  - @groups.each do |group|
    %li.list-group-item
      .d-flex
        .flex-grow-1.align-self-center= group.name
        .btn-group{ role: 'group' }
          = link_to 'Edit', edit_group_path(group), class: 'btn btn-secondary'
          = link_to 'Delete', group, method: :delete, data: { confirm: 'Delete the group?' }, class: 'btn btn-secondary'

%p.mt-3= link_to 'New group', new_group_path, class: 'btn btn-primary'
