%h1 Shopping list

= link_to 'Shopping cart', shopping_cart_path, class: 'btn btn-primary btn-lg m-2'
= link_to 'Order confirmation', order_path, class: 'btn btn-primary btn-lg m-2'

.alert.alert-secondary.mt-5
  %p Start by creating #{link_to('groups', groups_path)} to organise your #{link_to('items', items_regulars_path)}.
  %p.mb-0
    Go to your #{link_to('shopping cart', shopping_cart_path)} to update the list of items you need.
    When finished, go to #{link_to('order confirmation', order_path)} to make your order.
