= link_to 'Shopping list', shopping_list_path, class: 'btn btn-primary btn-lg m-2'
= link_to 'Order confirmation', order_path, class: 'btn btn-primary btn-lg m-2'

.alert.alert-secondary.mt-5
  %p Start by creating #{link_to('groups', groups_path)} to organise #{link_to('items', items_regulars_path)}.
  %p.mb-0
    Go to the #{link_to('shopping list', shopping_list_path)} to update items needed.
    Go to #{link_to('order confirmation', order_path)} when doing the final purchase.
