%p
  Temporary items are removed when the shopping list is cleared.
  Create a regular #{link_to('item', items_regulars_path)} if you want to keep it forever.

= form_with(model: item, scope: :item, url: items_temporaries_path, class: 'add-temporary-item-form', html: { autocomplete: 'off' }) do |form|
  = render 'shared/errors', errors: item.errors

  .form-group
    = form.label :group_id
    = form.collection_select :group_id, current_user.groups.order(:name).all, :id, :name, { prompt: true }, class: 'form-control'

  .form-group
    = form.label :name
    = form.text_field :name, class: 'form-control'

  = form.submit 'Add', class: 'btn btn-primary'
