= form_with(model: item, class: 'edit-item', html: { autocomplete: 'off' }) do |form|
  = render 'shared/errors', errors: item.errors

  .form-group
    = form.label :group_id, class: 'form-label'
    = form.collection_select :group_id, current_user.groups.order(:name).all, :id, :name, { prompt: true }, class: 'form-control', required: true

  .form-group
    = form.label :name, class: 'form-label'
    = form.text_field :name, class: 'form-control', autofocus: true, required: true

  .form-group
    = form.label :url, 'URL', class: 'form-label'
    = form.url_field :url, class: 'form-control'

  .form-group
    .form-check
      = form.check_box :temporary, class: 'form-check-input'
      = form.label :temporary, 'Temporary item', class: 'form-check-label'
    %small.form-text.text-muted
      Temporary items are removed when the shopping list is cleared.

  = form.submit class: 'btn btn-primary'
