- custom = local_assigns[:custom] == true

= form_with(model: item, local: !custom, class: 'edit-item', html: { autocomplete: 'off' }) do |form|
  = render 'shared/errors', errors: item.errors

  .form-group
    = form.label :group_id
    = form.collection_select :group_id, current_user.groups.order(:name).all, :id, :name, { prompt: true }, class: 'form-control', required: true

  .form-group
    = form.label :name
    = form.text_field :name, class: 'form-control', autofocus: true, required: true

  .form-group
    .form-check
      = form.check_box :temporary, class: 'form-check-input'
      = form.label :temporary, 'Temporary item', class: 'form-check-label'
    %small.form-text.text-muted
      Temporary items are removed when the shopping list is cleared.

  = form.submit class: 'btn btn-primary'
