%li.list-group-item.shopping-list-item{ id: "shopping-list-item-#{item.id}", class: item.total.positive? ? 'to-buy' : nil }
  .d-flex
    .align-self-center.menu
      .dropdown
        %a.dropdown-toggle.icon-small.icon-menu{ href: '#', data: { bs_toggle: 'dropdown' } } Actions
        .dropdown-menu
          %h6.dropdown-header Item options
          .dropdown-divider
          = link_to 'Edit', edit_item_path(item), data: { turbo_frame: 'modal' }, class: 'dropdown-item'
          = link_to 'Delete', item_path(item), data: { turbo_method: 'delete', turbo_confirm: 'Delete the item?' }, class: 'dropdown-item'
          .dropdown-divider
          = link_to 'Sort items', items_group_path(item.group), data: { turbo_frame: '_top' }, class: 'dropdown-item'
    .flex-grow-1.align-self-center.item-name
      = '(T)' if item.temporary?
      = item.name
    - if item.url.present?
      .align-self-center.url
        = link_to 'URL', item.url, target: '_blank', class: 'icon-small icon-url', rel: 'noopener'
    .align-self-center.total= item.total
    .align-self-center.actions
      = link_to '-', shopping_list_item_path(item, total: item.total - 1), data: { turbo_method: 'patch' }, class: 'action icon-medium icon-remove'
      = link_to '+', shopping_list_item_path(item, total: item.total + 1), data: { turbo_method: 'patch' }, class: 'action icon-medium icon-add'
