%li.list-group-item.confirmation-item{ id: "confirmation-item-#{item.id}", class: item.confirmed ? 'confirmed' : nil }
  .d-flex
    .align-self-center.menu
      .dropdown
        %a.dropdown-toggle.icon-small.icon-menu{ href: '#', data: { bs_toggle: 'dropdown' } } Actions
        .dropdown-menu
          %h6.dropdown-header Item options
          = link_to 'Edit', edit_item_path(item), data: { turbo_frame: 'modal' }, class: 'dropdown-item'
          = link_to 'Delete', item_path(item), data: { turbo_method: 'delete', turbo_confirm: 'Delete the item?' }, class: 'dropdown-item'
    .flex-grow-1.align-self-center
      = item.name
      %span.item-group= item.group.name
    - if item.url.present?
      .align-self-center.url
        = link_to 'URL', item.url, target: '_blank', class: 'icon-small icon-url', rel: 'noopener'
    .align-self-center.total= item.total
    .align-self-center.actions
      - if item.confirmed
        = link_to 'Unconfirm',
                   confirmation_item_path(item, confirmed: false),
                   data: { turbo_method: 'patch' },
                   class: 'action icon-medium icon-unconfirm'
      - else
        = link_to 'Confirm',
                  confirmation_item_path(item, confirmed: true),
                  data: { turbo_method: 'patch' },
                  class: 'action icon-medium icon-confirm'
