%li.list-group-item.confirmation-item{ class: item.confirmed ? 'confirmed' : nil }
  .d-flex
    .flex-grow-1.align-self-center
      = render 'items/name_with_url', item: item
      %span.item-group= item.group.name
    .align-self-center.total= item.total
    .align-self-center
      - if item.confirmed
        = link_to 'Unconfirm', confirmation_item_path(item), method: :patch, remote: true, data: { params: 'confirmed=false' }, class: 'btn btn-warning action'
      - else
        = link_to 'Confirm', confirmation_item_path(item), method: :patch, remote: true, data: { params: 'confirmed=true' }, class: 'btn btn-primary action'
