%h1 Confirmation

- if items_for_now.any? || items_for_later.any?
  .confirmations
    .d-flex.justify-content-between.mb-4
      .btn-group
        = link_to 'Remove confirmed', confirmation_path(confirmed: true),
                  data: { turbo_method: 'delete', turbo_confirm: 'Remove confirmed items?' },
                  class: 'btn btn-danger'
        = link_to 'Reset', confirmation_path,
                  data: { turbo_method: 'delete', turbo_confirm: 'Reset confirmations?' },
                  class: 'btn btn-warning'
      .btn-group
        - sorted_by_name = sort == 'name'
        = link_to confirmation_path(sort: 'group'), class: "btn #{sorted_by_name ? 'btn-outline-primary' : 'btn-primary'}" do
          %span.icon-sort-group Sort by group
        = link_to confirmation_path(sort: 'name'), class: "btn #{sorted_by_name ? 'btn-primary' : 'btn-outline-primary'}" do
          %span.icon-sort-name Sort by name

    %ul.list-group#confirmation-now-items
      - items_for_now.each do |item|
        = render 'item', item: item

    .d-flex.justify-content-between.mt-4
      %h2 Items for later
      .align-self-end.mb-1
        = link_to 'Move all up', later_confirmation_path,
                   data: { turbo_method: 'delete', turbo_confirm: 'Move all items up?' },
                   class: 'action icon-medium icon-all-for-now'
    %ul.list-group#confirmation-later-items
      - items_for_later.each do |item|
        = render 'item', item: item

- else
  .alert.alert-secondary
    First add items in the #{link_to('shopping list', shopping_list_path)}.
