= favicon_link_tag '/favicon.ico', rel: 'shortcut icon'
= favicon_link_tag '/favicon.ico', rel: 'icon', sizes: '16x16 32x32 64x64'
= favicon_link_tag '/icon/icon-x192.png', rel: 'icon', sizes: '196x196', type: 'image/png'
= favicon_link_tag '/icon/icon-x160.png', rel: 'icon', sizes: '160x160', type: 'image/png'
= favicon_link_tag '/icon/icon-x96.png', rel: 'icon', sizes: '96x96', type: 'image/png'
= favicon_link_tag '/icon/icon-x64.png', rel: 'icon', sizes: '64x64', type: 'image/png'
= favicon_link_tag '/icon/icon-x32.png', rel: 'icon', sizes: '32x32', type: 'image/png'
= favicon_link_tag '/icon/icon-x16.png', rel: 'icon', sizes: '16x16', type: 'image/png'
= favicon_link_tag '/icon/maskable-icon-x57.png', rel: 'apple-touch-icon', type: 'image/png'
= favicon_link_tag '/icon/maskable-icon-x180.png', rel: 'apple-touch-icon', sizes: '180x180', type: 'image/png'
= favicon_link_tag '/icon/maskable-icon-x152.png', rel: 'apple-touch-icon', sizes: '152x152', type: 'image/png'
= favicon_link_tag '/icon/maskable-icon-x144.png', rel: 'apple-touch-icon', sizes: '144x144', type: 'image/png'
= favicon_link_tag '/icon/maskable-icon-x120.png', rel: 'apple-touch-icon', sizes: '120x120', type: 'image/png'
= favicon_link_tag '/icon/maskable-icon-x114.png', rel: 'apple-touch-icon', sizes: '114x114', type: 'image/png'
= favicon_link_tag '/icon/maskable-icon-x76.png', rel: 'apple-touch-icon', sizes: '76x76', type: 'image/png'
= favicon_link_tag '/icon/maskable-icon-x72.png', rel: 'apple-touch-icon', sizes: '72x72', type: 'image/png'
= favicon_link_tag '/icon/maskable-icon-x60.png', rel: 'apple-touch-icon', sizes: '60x60', type: 'image/png'
