- content_for :content do
  %nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.mb-3.sticky-top
    .container
      .nav-bar-brands
        = link_to 'Shopping list', root_path, class: 'navbar-brand'
        = link_to 'Confirmation', confirmation_path, class: 'navbar-brand'
      %button.navbar-toggler{ type: 'button', data: { bs_toggle: 'collapse', bs_target: '#navbar-nav-alt-markup' }, aria: { controls: 'navbar-nav-alt-markup', expanded: 'false', label: 'Toggle navigation' } }
        %span.navbar-toggler-icon
      .navbar-collapse.collapse#navbar-nav-alt-markup
        %ul.navbar-nav.ms-auto
          %li.nav-item.invisible= link_to 'User details', edit_user_path, class: 'nav-link'
          %li.nav-item.invisible= link_to 'Log out', destroy_user_session_path, data: { turbo_method: 'delete', turbo_frame: '_top' }, class: 'nav-link'
          %li.nav-item.dropdown
            %button#bd-theme.btn.btn-link.nav-link.py-2.px-0.px-lg-2.dropdown-toggle{ type: 'button', data: { bs_toggle: 'dropdown', bs_display: 'static' }, aria: { 'expanded': 'false' } }
              %span.my-1.theme-active
            %ul.dropdown-menu.dropdown-menu-end
              %li
                %button.dropdown-item.d-flex.align-items-center{ data: { bs_theme_value: 'light' } }
                  Light
              %li
                %button.dropdown-item.d-flex.align-items-center{ data: { bs_theme_value: 'dark' } }
                  Dark

  .container
    = render partial: 'shared/flash'
    = yield
    = turbo_frame_tag 'modal', target: '_top'

= render template: 'layouts/base'
