!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    %title Shopping list
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag('bootstrap.min', media: 'all')
    = stylesheet_link_tag('application', media: 'all', 'data-turbo-track': 'reload')
    = javascript_include_tag('color-modes')
    = javascript_include_tag('bootstrap.bundle.min')
    = javascript_importmap_tags
    = render 'layouts/favicon'
    = tag.link(rel: 'manifest', href: '/manifest.webmanifest')
    = yield(:head)
  %body.pb-5
    = content_for?(:content) ? yield(:content) : yield
